It is a password Generatgor


 <form action="password">
    <select name="length">
        <option value="8">5</option>
        <option value="9">6</option>
        <option value="10">7</option>
        <option value="11" selected="selected">5</option>
        <option value="12">6</option>
        <option value="13">7</option>
    </select>
     <br>
     <input type="checkbox" name="UpperCase"> Upper Case

    <br>
     <input type="checkbox" name="UpperCase">  Lower Case <input>
    <br>
     <input type="checkbox" name="SpecialCase"> Special Case <input>
     <br>
     <input type="submit" value="Generate Password">
  </form>
<a href="{% url 'login' %}"> hey click here to redirect to login page</a>
<br>
<a href="{% url 'about' %}">about</a>
